@import 'tailwindcss';

@theme {
    --color-text: #1a1a1a;
    --color-strokes: #2b2b2b;
    --color-button: #f3701e;
    --color-cards: #f4ece4;
    --color-background: #e8d8c9;
}

@layer utilities {
    .oldschool-shadow {
        box-shadow: var(--color-strokes) 4px 4px;
    }

    .button-style {
        font-weight: bolder;
        background-color: var(--color-button);
        color: var(--color-text);
        box-shadow: var(--color-strokes) 4px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-style:hover {
        filter: brightness(1.3);
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 20px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background-color: #E1DDDE;
        box-shadow: inset 4px 0 0 0 var(--color-strokes);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #C4BFC5;
        border-left: 5px solid transparent;
        background-clip: content-box;

        background-image:
                linear-gradient(to right, #E6E6E6, #E6E6E6),
                linear-gradient(to bottom, #E6E6E6, #E6E6E6),
                linear-gradient(to bottom, var(--color-strokes), var(--color-strokes)),
                linear-gradient(to right, var(--color-strokes), var(--color-strokes));

        background-position: top, left, right, bottom;
        background-size: 100% 2px, 2px 100%, 2px 100%, 100% 2px;
        background-repeat: no-repeat;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:active {
        box-shadow:
                inset 0 2px 0 0 var(--color-strokes),
                inset 2px 0 0 0 var(--color-strokes),
                inset -2px 0 0 0 #E6E6E6,
                inset 0 -2px 0 0 0 #E6E6E6;
    }

    @supports not selector(::-webkit-scrollbar) {
        .custom-scrollbar {
            scrollbar-width: auto;
            scrollbar-color: #C4BFC5 #E1DDDE;
        }
    }
}